<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap-social/bootstrap-social.css') }}">
    <!--<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Our MegaConsumers</title>
    </head>
    <style>
        button {
            margin: 10px;
        }
        @media only screen and (min-width : 1200px) {

            .container { width: 1200px; } 

            }

            .row-header{
    margin:0px auto;
    padding:0px ;
}

.row-content{
    margin:0px auto;
    padding:50px 0px 50px 0px;
    border-bottom:1px ridge;
    min-height: 400px;
}
    </style>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/"><p>Book</p></a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/bookingDash">
                        <p class="text-white"> Booking Details </p>
                    </a></li>
                    <li class="nav-item active"><a class="nav-link" href="/industryBooking"><p class="text-white">  Industry Wise Booking  </p></a></li>
                    <li class="nav-item"><a class="nav-link" href="/industryBusiness"><p class="text-white">  Industry Wise Business  </p></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><p class="text-white">  Mega Consumers  </p></a></li>
                    
                </ul>
            </div>
        </nav>
       
         <ul class="nav nav-tabs">
            {% set ns =namespace(flag=0) %}
            {% for event in events %}
            {% set i_d = "#" + event[0]|string %}
            {% if ns.flag==0 %}
                {% set ns.flag=1 %}
                <li class="nav-item">
                    <a class="nav-link active" href={{i_d}}
                    role="tab" data-toggle="tab">{{ event[0]}}. {{ event[1] }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href={{i_d}}
                    role="tab" data-toggle="tab">{{ event[0]}}. {{ event[1] }}</a>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% set ns2 = namespace(flag=0) %}
            {% for event in events %}
            {% if ns2.flag==0 %}
            <div role="tabpanel" class="tab-pane fade show active" id={{event[0]|string}}>
            {% set ns2.flag=1 %}
            {% else %}
            <div role="tabpanel" class="tab-pane fade" id={{event[0]|string}}>
            {% endif %}
                <div class="container">
                <div class="text-center">
                    <h2>{{event[1]}}</h2>
                    <h3 class="col-12">From {{event[3]}} to {{event[4]}}<br><br>Our Mega Consumers : </h3>
                </div>
                    <table class="table">
                        <thead>
                            <th>Name</th>
                            <th>Spend</th>
                        </thead>
                        <tbody>
                        
                        {% for mc in megaConsumers %}
                        {% if mc[3]==event[0] %}
                        <tr>
                        
                       <td><span>{{mc[0]}} {{mc[1]}}</span></td> 
                        <td>{{mc[2]}}</td>
                        
                    </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
            
            {% endfor %}
        </div>
         <script src="static/scripts/jquery/dist/jquery.slim.min.js"></script>
         <script src="static/scripts/popper.js/dist/umd/popper.min.js"></script>
         <script src="static/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>

</html>
